#ofertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
}

#ofertas .section-title{
    font-size: 42px;
}

#offers{
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
    width: 30%;
    padding: 10px;
    background-color: var(--color-neutral-0);
    position: relative;
    overflow: hidden;
}

.offers-image{
    width: 85%;
}

.offer-title{
    margin-top: 20px;
    color: #ff2121;
    font-weight: 500;
    font-size: 18px;
    list-style: 16px;
    text-align: center;
}

.offer-price{
    margin: auto 0 50px;
    color: #F30202;
    font-size: 35px;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1170px) {
    #offers{
        flex-wrap: wrap;
        justify-content: center;
    }

    .offer{
        width: calc(50% - 12px);
    }

    #ofertas .section-title{
        font-size: 40px;
    }
    
    .offers-image{
        width: 70%;
    }
    
    .offer-title{
        font-size: 20px;
    }
    
    .offer-price{
        font-size: 40px;
        margin-top: -20px;
    }
}

@media screen and (max-width: 600px) {
    .offer{
        width: 100%;
    }

    #ofertas .section-subtitle{
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .offer{
        width: 100%;
    }

    #ofertas .section-subtitle{
        text-align: center;
    }
}


@media screen and (max-width: 350px) {
    #ofertas .section-title{
        font-size: 25px;
        line-height: 30px;
    }
    
    .offers-image{
        width: 60%;
    }
    
    .offer-title{
        font-size: 16px;
    }
    
    .offer-price{
        font-size: 30px;
    }
}